@charset "utf-8";
/* CSS Document */

body{
    font-family: 'Raleway', serif;
}

.header
{
    background: rgba(171, 125, 6, 0);
    position: relative;
    width: 100%;
    z-index: 9999;
    min-width: 260px;
    padding: 20px 0;
    position: fixed;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.fixed-bg{
    background-color: rgba(35, 35, 35, 0.95);
}
.fixed-bg-small{
    background-color: rgba(35, 35, 35, 0.95);
    padding: 8px 0;
}
#myNavbar{
    padding-top: 20px;
}
.logo
{
    color: #fff;
    font-weight: 100;
    font-size: 38px;
    padding: 0px !important;
    line-height: 60px;
}
.logo img
{
    height: 60px;
    padding-left: 30px;
}

.fixed-bg-small .logo
{
    color: #fff;
    font-weight: 100;
    font-size: 22px;
    padding: 0px !important;
    line-height: 60px;
}
.fixed-bg-small .logo img
{
    height: 55px;
    padding-left: 10px;
    padding-top: 5px;
}

.menu{

    margin:0px !important;
    border: none;
    padding-right: 10px;
}
.menu li a
{
    display: block;
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 2px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

}
.menu li a:hover
{
    border: 2px solid #ffffff;
    background: transparent;
}
.menu-button
{
    color: #fff;
    font-size: 30px;
    margin:0px !important;
    padding:14px;
}
.main{
    position: relative;
    margin-bottom: 2em;
}
.no-cover
{
    width: 100%;
    position: relative;
    height: 15vh;
    color: #fdfdfd;
    text-align: center;
    overflow: hidden;
    background-color: rgba(35, 35, 35, 0.95);
}
.cover
{
    width: 100%;
    position: relative;
    height: 55vh;
    overflow: hidden;
    color: #fdfdfd;
    text-align: center;
    overflow: hidden;
}
.cover img{
    position: absolute;
    min-height: 54vh;
    min-width: 100%;
    top: 0;
    left: 0;

}
.cover-title h2 {
    position: absolute;
    top: 42%;
    width: 100%;
    z-index: 11;
    text-align: center;
    font-size: 3.5em;
    font-weight: 200;
    font-family: 'Raleway', serif;
    color: #fdfdfd;
    text-shadow: #222 2px 2px 2px;
}
.backg2
{
    height: 220px;
    background-color: rgba(35, 35, 35, 0.95);

}
.cover-actions{
    position: absolute;
    top: 41vh;
    z-index: 11;
    text-align: center;
    width: 100%;
}
.cover-actions .btn, .member-actions .btn{
    margin-bottom: 6px;
}
.image-actions .by{
    padding: 10px;
}

.section-head{
    font-weight: 400;
    font-family: 'Raleway', serif;
    padding-bottom: 20px;
}

.section-content{
    padding:20px;
    display: block;
}
.secton-hr{
    border-bottom: 1px solid rgba(222, 222, 222, .5);
    border-top: 1px solid rgba(222, 222, 222, .5);
}

.section-content p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0 0 20px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.form-section{
    padding: 20px 10px 40px;
}


.media-body p, .media-body h4{
    padding:5px 10px;
    margin:0 5px;
}
.media-body button{
    margin-left: 14px;
    margin-top: 20px;
}

.thumbnail {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #337ab7;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
}
.thumbnail .caption p {
    padding: 0 10px;
    margin: 0;
}
.caption .text-warning{
    color: #f77;
}

.work-list a .featured-img
{
    width: 100%;
}
.work-list a .featured-img img
{
    width: 100%;
    height: 200px;
    float: left;
    position: relative;	}

@keyframes imagehover {
    0%   {height: 40px;}
    25%  {height: 80px;}
    50%  {height: 120px;}
    75%  {height: 160px;}
    100% {height: 200px;}
}
.image-hover {
    display: none;
    position: absolute;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 100%;
    height: 200px;
    float: left;

}
.image-hover i{
    color: rgba(138, 184, 57, 0);
    font-size:30px;
    line-height: 200px;
    transition: 5s color ease-in;
    display: none;
}
.image-hover:hover i
{	display: block;
    color: #212A3F;
}
.work-list a h3 {
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: 600;
    background: #8ab839;
    color:#fff;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.work-list a:hover .image-hover
{
    display: block;
    animation: 0.4s ease-in 0s normal none 1 running imagehover;

}
.work-space
{
    margin: 20px 0px;
}
.popular{
    padding-bottom: 60px;
    margin-bottom: 60px;
}
.popular .section-content .col-xs-6, .popular .section-content .col-md-3{
    padding-left:5px;
    padding-right:5px;
    margin: 0;
    padding: 0;
}


footer{
    background-color: rgba(38, 38, 38, 1);
    padding: 30px 10px 10px;
    color: #ccc;
    font-weight: 100;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.social-links h3{
    font-weight: 200;
    padding-bottom: 8px;
}

.footer-links{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.footer-links a:hover{
    text-decoration: none;
    color: #1b6d85;
}
footer hr{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */

}
.copyright{
    font-size: 12px;
    padding-top: 20px;
}



/*****************
    Modal FORMS
*****************/
.modal{
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0px;
    background-color: rgba(2,2,2,.4);
    width:100%;
    height: 100%;
    background: -webkit-linear-gradient(top right, rgba(2,2,2,.96) 0%, rgba(2,2,2,.8) 100%);
    background: linear-gradient(to bottom left, rgba(2,2,2,.96) 0%, rgba(2,2,2,.8) 100%);
}

.modal .content{
    width: 80%;
    max-width: 640px;
    background-color: #fdfdfd;
    margin: 80px auto;
    padding: 20px;
    -webkit-box-shadow: 4px 0 10px rgba(222,222,222,0.8);
    box-shadow: 4px 0 10px rgba(222,222,222,0.7);
    position: relative;
    max-height: 86vh;
}

.close-modal{
    position: absolute;
    top: -10px;
    right:-10px;
}
.modal .modal-header{
    background: rgba(171, 125, 6, 0);
}



@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login {
    max-height: 80vh;
    overflow: scroll;
}
.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_authTitle{
    font-size: 1em;
    line-height: 1em;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

.image-radio > label img{
    height: 40px;
}
.image-radio > label > input{ /* HIDE RADIO */
    display:none;
}
.image-radio > label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.image-radio > label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
    border:2px solid #f00;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }

    .checkbox{
        margin: 10px;
        text-align: left;
    }
}

.add-studio-tab{
    margin-top: 80px;
}


/*.form {*/
    /*position: relative;*/
    /*background: rgba(255, 255, 255, 0.99);*/
    /*padding: 40px;*/
    /*max-width: 600px;*/
    /*margin: 40px auto;*/
    /*border-radius: 4px;*/
    /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.1);*/
    /*font-weight: 200;*/
    /*color: #000;*/
/*}*/

/*.tab-group {*/
    /*list-style: none;*/
    /*padding: 0;*/
    /*margin: 0 0 40px 0;*/
/*}*/
/*.tab-group:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/
/*.tab-group li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*padding: 15px;*/
    /*background: rgba(45, 45, 45, 1);*/
    /*color: #a0b3b0;*/
    /*font-size: 20px;*/
    /*float: left;*/
    /*width: 50%;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*-webkit-transition: .5s ease;*/
    /*transition: .5s ease;*/
/*}*/
/*.tab-group li a:hover {*/
    /*background: #c9a700;*/
    /*color: #ffffff;*/
/*}*/
/*.tab-group .active a {*/
    /*background: #6b5e1d;*/
    /*color: #ffffff;*/
/*}*/

/*.tab-content > div:last-child {*/
    /*display: none;*/
/*}*/

/*h1 {*/
    /*text-align: center;*/
    /*color: #ffffff;*/
    /*font-weight: 300;*/
    /*margin: 0 0 40px;*/
/*}*/

/*label {*/
    /*position: absolute;*/
    /*-webkit-transform: translateY(6px);*/
    /*-ms-transform: translateY(6px);*/
    /*transform: translateY(6px);*/
    /*left: 13px;*/
    /*color: rgba(255, 255, 255, 0.5);*/
    /*-webkit-transition: all 0.25s ease;*/
    /*transition: all 0.25s ease;*/
    /*-webkit-backface-visibility: hidden;*/
    /*pointer-events: none;*/
    /*font-size: 22px;*/
    /*font-weight: 200;*/
/*}*/
/*label .req {*/
    /*margin: 2px;*/
    /*color: #fed456;*/
/*}*/

/*label.active {*/
    /*-webkit-transform: translateY(50px);*/
    /*-ms-transform: translateY(50px);*/
    /*transform: translateY(50px);*/
    /*left: 2px;*/
    /*font-size: 14px;*/
/*}*/
/*label.active .req {*/
    /*opacity: 0;*/
/*}*/

/*label.highlight {*/
    /*color: #ffffff;*/
/*}*/

/*input, textarea {*/
    /*font-size: 22px;*/
    /*font-weight: 200;*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 5px 10px;*/
    /*background: none;*/
    /*background-image: none;*/
    /*border: 1px solid #a0b3b0;*/
    /*color: #ffffff;*/
    /*border-radius: 0;*/
    /*-webkit-transition: border-color .25s ease, box-shadow .25s ease;*/
    /*transition: border-color .25s ease, box-shadow .25s ease;*/
/*}*/
/*input:focus, textarea:focus {*/
    /*outline: 0;*/
    /*border-color: #fed456;*/
/*}*/

/*textarea {*/
    /*border: 2px solid #a0b3b0;*/
    /*resize: vertical;*/
/*}*/

/*.field-wrap {*/
    /*position: relative;*/
    /*margin-bottom: 40px;*/
/*}*/

/*.top-row:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/
/*.top-row > div {*/
    /*float: left;*/
    /*width: 48%;*/
    /*margin-right: 4%;*/
/*}*/
/*.top-row > div:last-child {*/
    /*margin: 0;*/
/*}*/

/*.button {*/
    /*border: 0;*/
    /*outline: none;*/
    /*border-radius: 0;*/
    /*padding: 15px 0;*/
    /*font-size: 2rem;*/
    /*font-weight: 600;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: .1em;*/
    /*background: #b78b2d;*/
    /*color: #ffffff;*/
    /*-webkit-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
    /*-webkit-appearance: none;*/
/*}*/
/*.button:hover, .button:focus {*/
    /*background: #c9a700;*/
/*}*/

/*.button-block {*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/

/*.forgot {*/
    /*margin-top: -20px;*/
    /*text-align: right;*/
/*}*/



.image-actions{
    position: relative;
    top: -12px;
}
.image-actions .by{
    margin-top: 2px;
    padding: 4px;
}

.text-light-black{
    color: #666;
}







@media (min-width: 411px) and (max-width: 798px)
{
    .text-box p.intro {
        font-size: 22px;
    }
    .text-box h2 {
        font-size: 40px;
    }
    .text-box h3 {
        font-size: 16px;}
    .text-box p a.link-button {
        padding: 8px 14px;
        font-size: 13px;
    }
    .title h2 {

        font-size: 29px;
    }
    .desc p {
        font-size: 15px;
        text-align: center;
    }
    .icon-text-box h4 {
        text-align: center;
    }
    .icon-text-box p {

        text-align: center;}

    .btneff {

        margin-top: 15px;
        width: 20% !important;
    }
}
@media (min-width: 0px) and (max-width: 410px){
    .header{
        padding-top: 0;
    }
    .logo{
        font-size: 1.4em;
    }
    .text-box p.intro {
        font-size: 22px;
    }
    .text-box h2 {
        font-size: 20px;

    }
    .text-box h3 {
        font-size: 16px;}
    .text-box p a.link-button {
        padding: 8px 14px;
        font-size: 13px;}
    .title h2 {

        font-size: 29px;}
    .desc p {
        font-size: 15px;
        text-align: center;}
    .icon-text-box h4 {
        text-align: center;
    }
    .icon-text-box p {

        text-align: center;}

    .btneff {

        margin-top: 15px;
        width: 80% !important;
    }

    .modal .content{
        margin: 40px auto;
        width: 90%;
    }
}